.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 8;
   background-color: #fff;
   &__body {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0px 25px;
      border-bottom: 2px solid #cbcbcb;
      column-gap: 3%;
   }

   &__logo {
      position: relative;
      z-index: 5;
   }

   &__burger {
      display: none;
   }

   &__menu {
      flex: 1 1 auto;
   }

   &__list {
      .header__button {
         display: none;
      }
   }

   &__form {
      position: relative; 
      z-index: 5;
   }

   &__button {
      font-family: 'Inter';
      font-weight: 700;
      font-size: 18px;
      &--login {
         color: $primary;
         margin-right: 35px;
      }
      &--signup {
         @extend %button;
         border-radius: 18px;
         padding: 18px 27px;
      }
   }
}